.login-container {
    width: 350px;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    text-align: center;
}

.login-logo {
    /* height: 96px; */
    display: block;
    overflow: hidden;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.login-form-container {
    display: block;
    padding: 25px 15px;
    background-color: #fff;
    text-align: left;
    overflow: hidden;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login-form-container label {
    font-weight: 400;
}

.login-form-container .form-control {
    height: 40px;
}

.helper-link {
    padding-top: 5px;
    overflow: hidden;
}

.footer-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.footer-link a {
    color: #333;
}

.footer-link a:hover, .footer-link a:active, .footer-link a:focus {
    color: #06946b;
}